@charset "UTF-8";
.iav-search-form fieldset {
  margin: 0;
  background-color: transparent;
  padding: 0;
}
.iav-search-form legend {
  display: none;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
}
.iav-search-form .iav-search-field > fieldset {
  padding-top: 0;
}

label[for=keyword] {
  display: none;
}

.iav-search-category {
  display: inline-block;
}
.iav-search-category input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}
.iav-search-category input[type=checkbox]:focus {
  outline-color: #005ab9;
}
.iav-search-category input[type=checkbox] + label {
  cursor: pointer;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  color: #f0f0f0;
  padding: 2px 7px;
  padding-top: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iav-search-category input:checked + label {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.iav-search-category input:checked + label:before {
  color: #005ab9;
  background-color: #f0f0f0;
}
.iav-search-category label::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.iav-search-category label::after {
  font-size: 0.5em;
}
.iav-search-category label:hover:before {
  color: #005ab9;
  background-color: #f0f0f0;
}
.iav-search-category label:hover:after {
  color: #f0f0f0;
  background-color: transparent;
}
.iav-search-category .cat-article::before {
  content: "";
}
.iav-search-category .cat-article::after {
  content: "Articles";
}
.iav-search-category .cat-podcast::before {
  content: "";
}
.iav-search-category .cat-podcast::after {
  content: "Podcasts";
}
.iav-search-category .cat-webcast::before {
  content: "";
}
.iav-search-category .cat-webcast::after {
  content: "Webinars";
}
.iav-search-category label span {
  display: none;
}

.nav-results-button {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background-color: #f82146;
  color: #f0f0f0;
  border-radius: 0.25em;
  margin: auto 1em;
  padding: 0.25em 1em;
}
.nav-results-button:hover {
  background-color: #f0f0f0;
  color: #f82146;
}

.iav-search-results {
  list-style: none;
  color: #adadad;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  width: 100%;
  margin-left: 0;
}
.iav-search-results .iav-result-row {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin: 1%;
  padding-bottom: 0.5em;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.iav-search-results .iav-result-row img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin-bottom: 0;
}
.iav-search-results .iav-result-row:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
}
.iav-search-results h3 {
  font-size: 0.8em;
  margin-bottom: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0 8px;
  padding-bottom: 9px;
}
.iav-search-results h3 a {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: #005ab9;
}
.iav-search-results h3 a:hover {
  color: #adadad;
}
.iav-search-results time, .iav-search-results span {
  font-size: 0.75em;
  padding: 0 8px;
  padding-top: 9px;
  display: block;
  border-top: solid 1px #54595f0a;
  margin-top: auto;
}
.iav-search-results span.post-category:first-of-type::before {
  content: " in category: ";
}

@media screen and (max-width: 375px) {
  .iav-search-results .iav-result-row {
    width: 98%;
  }
}
.iav-search-field {
  width: 100%;
}

#search-field {
  line-height: normal;
  /* min-width: 300px;
  max-width: 500px;
  width: 100%; */
  width: 45%;
  border-style: solid;
  border-radius: 0.25em;
  padding: 0.5em;
}
#search-field::placeholder {
  opacity: 0.1;
}

span.page-numbers.current,
a.page-numbers {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  border: 2px solid #005ab9;
  border-radius: 100%;
  width: 2em;
  font-size: 1em;
  margin: 0.1em;
  color: #005ab9;
}
span.page-numbers.current:hover,
a.page-numbers:hover {
  color: #f0f0f0;
  background-color: #005ab9;
}

span.page-numbers.current {
  color: #f0f0f0;
  background-color: #005ab9;
}

span.page-numbers.dots {
  color: #005ab9;
  margin: 0.1em;
}

.iav-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus {
  outline-color: transparent;
}

.time-holder {
  margin-top: auto;
}

.iav-search-results.grid {
  max-width: 1200px;
}

.iav-search-results.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* fluid 5 columns */
.iav-result-row.grid-item {
  /* display:inline;    
  box-sizing: border-box; */
  width: 30%;
}

/* Step 4: Add media queries (subjective) to make the whole grid resposive. */
@media (max-width: 600px) {
  .grid-sizer,
.iav-result-row.grid-item {
    width: 48%;
  }
}
@media (min-width: 1000px) {
  .grid-sizer,
.iav-result-row.grid-item {
    width: 30%;
  }
}
