// sass --no-source-map --watch iav-search-shortcode.scss iav-search-shortcode.css  
$sc_blue : #005ab9;
$sc_white: #f0f0f0;
$sc_red: #f82146;
$font_dark: #54595f;
$font_gray: #adadad;

@mixin focus-style {
    &:focus{        
        outline-color: $sc_blue;
    }
}
@mixin default-trans {    
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.iav-search-form {
    /* display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch; */
    fieldset{
        margin:0;
        background-color: transparent;
    }
    legend{
        display: none;
        padding: 0;
        margin: 0 auto;
        background-color: transparent;
    }
    
}

label[for="keyword"] {
    display: none;
}

.iav-search-category{
    display: inline-block;

    fieldset{
        /* display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center; */
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        display: none;
        @include focus-style;
        
    }    
    input[type="checkbox"] + label {
        cursor: pointer;
        @include default-trans;
        border-radius: 50%;
        text-align: center;
        width: 2em;
        height: 2em;
        font-size: 1em;
        line-height: 2em;
        color: $sc_blue;
        border: 2px solid $sc_blue; 
        padding: 2px 7px;
        padding-top: 5px;
        &:hover{
            color: $sc_white;
            background-color: $sc_blue;
        }
    }    
    input:checked + label {
        background: $sc_blue;
        color: $sc_white;
        @include default-trans;
    }
    // styles for font-awesome
    label::before {
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-weight: 900;
    } 
    .cat-article::before {
        content: "\f15c";
    }
    .cat-podcast::before {
        content: "\f2ce";
    }
    .cat-webcast::before {
        content: "\f144";
    }
    //hide actual label and just show icon
    label span{
        display: none;
    }
}

.nav-results-button {
    @include default-trans;
    background-color: $sc_red;
    color:  $sc_white;
    border-radius: .25em;
    margin: auto 1em;
    padding: .25em 1em;
    &:hover{
        background-color: $sc_white;
        color: $sc_red;
    }

}

  
.iav-search-results {
    list-style: none;
    color: $font_gray;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    .iav-result-row {
        @include default-trans;
        width: 31%;
        margin: 1%;
        padding-bottom: 0.5em;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
        
        img{
            width: 100%;
        }
        //hover styles to pop
        &:hover{
            -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
            -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
            box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
        }
    }
    h3{
        font-size: 0.8em;
        margin-bottom: 0;
        margin-top: .5em;
        padding: 0 5px;
        a{
            @include default-trans;
            color: $sc_blue;
            //border-bottom: 1px dotted $font_dark;
            &:hover{
                color: $font_gray;
            }
        }
    }
    time,span{
        font-size: .75em;
        padding: 0 5px;
    }
    span.post-category:first-of-type::before{
        content:(" in category: ");
    }

    
}
//for smaller screen
@media  screen and (max-width: 375px) {
    .iav-search-results  .iav-result-row {
        width: 98%;
    }
}

.iav-search-field{
    width: 100%;
    
}
#search-field {
    line-height: normal; 
    /* min-width: 300px;
    max-width: 500px;
    width: 100%; */
    width: 45%;
    border-style: solid;
    border-radius: .25em;
    padding: .5em;
    &::placeholder{
        opacity: 0.1;
    }
}
// pagination styles 
span.page-numbers.current,
a.page-numbers{
    @include default-trans;
    border: 2px solid $sc_blue;
    border-radius: 100%; 
    width: 2em;
    font-size: 1em;
    margin: .1em;
    color: $sc_blue;
    &:hover{
        color: $sc_white;
        background-color: $sc_blue;
    }
}
span.page-numbers.current{
    color: $sc_white;
    background-color: $sc_blue;
}
span.page-numbers.dots{
    color: $sc_blue;
    margin: .1em;
}
.iav-pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; 
    margin-bottom: 50px;;
}

a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline-color: transparent;
}